# ==========================================
# SYSTEMOWE (Windows / Mac / Linux)
# ==========================================
.DS_Store
Thumbs.db
Desktop.ini
.generated
.history

# ==========================================
# IDE & EDYTORY (IntelliJ, VS Code, Eclipse)
# ==========================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/
*.code-workspace

# Eclipse
.settings/
.project
.classpath
.factorypath
bin/

# ==========================================
# FRONTEND (Angular / Node.js)
# ==========================================
node_modules/
dist/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
.env

# ==========================================
# BACKEND (Java / Spring Boot / Gradle)
# ==========================================
# Skompilowane klasy
*.class

# Logi
*.log
logs/

# Spakowane paczki
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- GRADLE (To jest kluczowe dla Ciebie!) ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# --- MAVEN (Zostawiamy na wszelki wypadek) ---
target/
!mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!*.wrapper.jar

# Inne pliki tymczasowe Javy
hs_err_pid*